.navbar {
  background-color: #f8f9fa;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0.5rem 1rem;
  list-style: none

}

.navbar__wraper {
  background-color: #42464a;
}

.navbar li {
  display: inline-block;
  padding: 0.5rem 1rem;
  color: #f8f9fa;
  text-decoration: none;
  font-size: 1.2rem;
  font-weight: bold;
  transition: all 0.3s ease-in-out;
  -ms-text-underline-position: unset;



}

.navbar li:visited {
  text-decoration: none
}

.navbar li:hover {
  color: #f1f2f6;
  text-decoration: none;
  transition: all 0.3s ease-in-out;
  animation-name: navHover;
  animation-duration: 0.3s;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  animation-iteration-count: 1;
  animation-direction: normal;
  animation-play-state: running;
  animation-delay: 0s;
  animation-iteration-count: 1;
 
  
    
  }

  @keyframes navHover {
    0% {
      transform: scale(1);
   
    
    
  
    }
    50% {
      transform: scale(1.2);
 


    }
    100% {
      transform: scale(1);
   
    }
  }

.navbar li a {
  color: #010102;
  text-decoration: none;
}